<!-- <h1>Hola Mundo</h1> -->
<h1>{{ title }}</h1>
<!-- <h3>Counter :{{counter}}</h3> -->
<!-- <h2> {{title}}</h2> -->
<!-- <button (click)="increseBy(+1)">+1</button> -->
<!-- <button (click)="decreseBy()">-1</button> -->
<!-- <button (click)="resetCounter()">Reset</button> -->
<!-- <button (click)="increseBy(-1)">-1</button> -->
<hr>
<p>
  Bienvenido a Angular
</p>
<hr>
<!-- <app-counter></app-counter> -->
<!-- <app-heroes-hero></app-heroes-hero> -->
<!-- <app-heroes-list></app-heroes-list> -->
<app-dbz-main-page></app-dbz-main-page>